<%if target.errors.any? %>
    <h2 class="error"><%= t("activerecord.error_in_save",:count=>target.errors.count) %>:</h2>
    <ul>
        <% target.errors.full_messages.each do |msg|%>
        <li><%= msg %></li>
        <%end%>
    </ul>
<%end%>
